*{margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;}

.bodystyle{
    width: 100%;
    margin: 5px;
}
.logostyle{
    height: 50px;
}
.size{
    margin: 0 auto;
    width: 100%;
    height: 600px;
}
main{
    margin: 40px;
}
.card2{box-shadow: 0px 2px 10px rgb(27, 26, 26);}
.card-2body{padding: 5px!important;}
.card2{height: 350px;
        width: 100%;
        margin: 7px;}
.card-img-top{height: 120px;}
.card-2body{height: 120px;}
.card2{padding: 50px!important;}

.footer{
    height: 30px;
}
